body { 
background-color: hsl(234, 86%, 22%);
color: rgb(243, 9, 118);

}
section {

    background: rgb( 184, 156, 213);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.chamada-texto {
    margin-right: 5% ;
}