body { 
background-color: hsl(234, 86%, 22%);
color: rgb(71, 9, 243);

}
section {

    background: rgb(120, 6, 241);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
.chamada-texto {
    margin-right: 20px ;
}
img {
height: 200px;
}