body { 
background-color: hsl(234, 86%, 22%);
color: rgba(71, 9, 243, 0);

}
section {

    background: rgb(120, 6, 241);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}
header
.categoria textos {
    margin-right: 20px ;
}
img {
height: 200px;
}
. categoria vídeos {
display: flex;
}